body {
  margin : 0;
}

header {
  margin-bottom: -4px;
}


nav {
  background-color: black;
  height: 65px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav div {
  width: 150px;
  margin: 0;
  height: 65px;
}
nav div a {
  color: white;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav div:hover {
  background-color: white;
  transition: 0.5s;
}
nav div:hover > a {
  color: black;
  transition: 0.8s;
}

nav img {
  padding: 5px 20px;
  margin: 16px 30px 11px 30px;
}

nav img:hover {
  opacity: 0;
}


#jeu {
  width: 100%;
  margin: 0 auto;
  padding : 40px 0;
}

#options {
  position: absolute;
  z-index: 4;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Indie Flower', cursive;
}

#options > div > select {
  margin-bottom: 20px;
  padding: 0 15px;
  width: 200px;
  height: 30px;
  border-style: none;
  background-color: black;
  color: white;
  font-family: 'Abel', sans-serif;
}

option {
  font-size: 10px;
  font-family: 'Abel', sans-serif;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

#options div select:hover {
  /*
  background-color: white;
  color: black;
  */
  box-shadow: 0 0 7px black;
  font-weight: bold;
  transform: scale(1.02);
  transition: 0.3s;
}

#milieu {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
  margin: 30px 0;
}

#bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(https://i.pinimg.com/originals/8c/97/7d/8c977d06abc3eee45c0e696c3e325dc1.jpg);
  background-size: 100% 100%;
  filter: blur(5px);
}




#score {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: opacity 0.8s;
}


#tours, #chrono {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5px 20px;
  width: 8vw;
  background: linear-gradient(white, lightgray 85%, silver);
  border-radius: 20px;
  font-size: 20px;
  font-family: "Impact";
  box-shadow: 0 0px 10px gray;
  transform : translate(0, 0);
  transition: transform 1s;
}

#chrono div {
  margin: 0;
}


#m, #s, #cs {
  text-align: center;
  width: 30px;
}

#plateau {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0px 7px darkgray;
  min-width: 260px;
  min-height: 311px;
}


#plateau > div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}


img.carte {
  margin: 5px;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */

  transition: 0.2s;
}

.hover:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#voile {
  position: absolute;
  opacity: 1;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
  z-index: 2;
  transition: all 0.25s ease-in;
}

#bRejouer, #bRetour {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 20px;
  z-index: 4;
}

#bJouer {
  opacity: 1;
  padding: 0;
  margin-top: 50px;
  width: 150px;
  height: 60px;
  transition: 1s;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  background-color: white;
  border-radius: 0 30px 0 30px;
}
#bJouer:hover {
  outline: none;
  background-color: black;
  color: white;
  border-radius: 30px 0 30px 0;
  transition: border-radius 0.5s;
}

#bAbandonner {
  position: absolute;
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 20px;
  z-index: 4;
  transition: 1s;
}
